:root {
  --bg-primary: #ffffff;
  --bg-secondary: #eaeaea;

  --color-text-blue-dark: #13294b;
  --color-text-secondary: #004b87;;
  --color-text-tertiary: #0077c8;




  --color-primary: #13294b;
  --color-secondary: #004b87;
  --color-tertiary: #0077c8;
}



/* top-banner */
/* ============================================================ */
.top-banner {
  display: flex;
  padding: 1.2rem 0;
  background-color: #004b87;
  justify-content: center;
}

.top-banner h4 {
  font-size: 1.7rem;
  color: #fff;
}


/* header */
/* ============================================================ */

.header {
  position: sticky;
  top: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* padding: 3rem 0; */
  padding: min(3rem, 7%);
  box-shadow: 0px 4px 8px 0px #13376326;
  z-index: 10;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo svg {
  color: var(--color-text-primary);
}

.header .header-div {
  display: flex;
}

.header-div .navigation {
  display: flex;
}

.navigation ul {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.navigation ul li a {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--color-text-primary);
}

.header .header-icons-container {
  display: flex;
  gap: 2.5rem;
}

.header-icons-container .header-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.header-icon svg {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  color: #004b87;
}


/* products */
/* ============================================================ */

.products {
  padding: 5rem 12%;
  background: var(--bg-primary);
}

.products .products-container {

}

.products-container .products-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.products-text h2 {
  font-size: 3.9rem;
  padding-bottom: 4rem;
  color: var(--color-secondary);
}

.products-text p {
  font-size: 1.9rem;
  padding: 0 15rem;
}

.products-container .products-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  padding: 5rem 0;
  gap: 2rem;
}

.products-content .product-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid #004b87;
  padding: 1.5rem;
  border-radius: 7px;
}

.product-card .wrapper-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.product-card .wrapper-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card .wrapper-details {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.wrapper-details .product-title {
  font-size: 1.9rem;
}

.wrapper-details .product-price {
  font-size: 1.6rem;
}

.product-card .product-card-button {
  padding: 1.2rem;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  background: #0077c8;
  color: #ffffff;
  font-weight: 600;
  border-radius: 7px;
  cursor: pointer;
  border: none;
}


/* Product Details Page */
/* ============================================================ */

.product-details {
  padding: 5rem 12%;
  background: var(--bg-primary);
}


.product-details .product-details-section {

}

.product-details-section .product-details-container {
  display: flex;
  gap: 3rem;
}

.product-details-container .product-details-article {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.product-details-article .wrapper-details {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.wrapper-details .product-title {
  font-size: 3.9rem;
}

.wrapper-details .product-price {
  font-size: 3.3rem;
}

.product-details-article .product-details-cant {

}

.product-details-quantity p {
  font-size: 1.9rem;
}

.product-details-quantity .quantity-div {
  display: inline-flex;
  align-items: center;
  margin-top: 2rem;
} 

.quantity-div .quantity-button {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: 1px solid #e1e1e1;
}

.quantity-div .quantity {
  height: 45px;
  width: 45px;
  text-align: center;
  border: 1px solid #e1e1e1;
  background-color: #ffffff;

}

.product-details-div-link {
  display: flex;
  gap: 4rem;
  margin-top: 3rem;
}

.product-details-div-link .link-whats-app, .link-cart {
  padding: 1.2rem 4rem;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  font-weight: 600;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
}

.product-details-div-link .link-whats-app {
  background: #25D366;
}

.product-details-div-link .link-cart {
  background: #0077c8;
}

/* Shop Cart Page */
/* ============================================================ */

.shop-cart {
  padding: 5rem 12%;
  background: var(--bg-primary);
}

.shop-cart .shop-cart-section {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3rem;
}

.shop-cart-section h1 {
  font-size: 2.7rem;
}

.shop-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}

.shop-card-container .product-cart-card {
  display: flex;
  border: 1px solid #e1e1e1;
  border-radius: 7px;
  padding: 1rem;
  gap: 1rem;
}

.wrapper-cart-image {
  width: 12rem;
  height: auto;
  overflow: hidden;
}

.wrapper-cart-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.wrapper-cart-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.wrapper-cart-details .product-cart-title {
  font-size: 1.9rem;
}

.product-cart-quantity p {
  font-size: 1.6rem;
}

.product-cart-quantity .quantity-div {
  display: inline-flex;
  align-items: center;
  margin-top: 1rem;

}

.product-cart-quantity .quantity-button {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: 1px solid #e1e1e1;
}

.product-cart-quantity .quantity-div .quantity {
  height: 35px;
  width: 35px;
  text-align: center;
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
} 

.product-cart-card .wrapper-cart-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: end;
}

.wrapper-cart-price .cart-icon-div {
  width: 2rem;
  height: 2rem;
}
.wrapper-cart-price svg {
  width: 100%;
  height: 100%;
}

.wrapper-cart-price .product-cart-price {
  font-size: 1.6rem;
}

/* cart summary */

.shop-cart-div-right {

}

.cart-summary-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e1e1;
  border-radius: 7px;
  padding: 1rem;
  gap: 1rem; 

  margin-top: 3rem;
}

.cart-summary-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cart-summary-content .cart-summary-div {
  display: flex;
  justify-content: space-between;
}

.cart-summary-div span {
  font-size: 1.9rem;
}

.cart-summary-container .cart-summary-delivery {
  border: 1px solid #e1e1e1;
  border-radius: 7px;
  padding: 1rem;
}

.cart-summary-container .cart-summary-button {
  padding: 1.2rem 4rem;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  font-weight: 600;
  border-radius: 7px;
  cursor: pointer;
}

/* Checkout Page */
/* ============================================================ */

.checkout {
  padding: 5rem 12%;
  background: var(--bg-primary);
}

.checkout .checkout-section {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3rem;
}

.checkout-section .checkout-container-left {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e1e1;
  padding: 1rem;
  gap: 1rem;
}

.checkout-container-left .order-summary-heading {
  font-size: 2.7rem;
}

.checkout-container-left .checkout-review-order {
  margin-top: 2rem;
}

.checkout-review-order .review-order-table {
  width: 100%;
  margin: 1rem 0;
  border: 1px solid #e1e1e1;
  border-collapse: collapse;
}

.review-order-table .product-name, .product-sub-total {
  padding: 12px 15px;
  text-align: left;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  border: 1px solid #e1e1e1;
}



